body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4{
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;

}

ul{
    margin-top: 0px;
    margin-bottom: 5px;
}

p{
    margin-top: 0px;
    margin-bottom: 5px;
}