body {
  background-color: aqua;
}

.desktopIcon {
  width: 90px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;
}

.background {
  background-image: url("/assets/wallpaper.png");
  background-size: cover;
}

.textFrame {
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
  max-height: 500px;
}

.aboutImage {
  height: 250px;
  width: 250px
}

.projectSplashImage{
  height: 250px;
  width: 250px
}

.projectSplashDescr{
  font-size: 12px;
}

.projectSplashDescr>p{
  margin-top: 0;
}

.alignRight{
  text-align: right;
}

.paintColor {
  height: 20px;
  width: 20px;
  border: solid 1px black;
  margin: 5px 5px 5px 5px;
}

.paintColorContainer {
  display: flex;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  padding-right: 10px;
}